[Unit]
Description=Blinks - lights

[Service]
ExecStart=/usr/bin/python /home/pi/zoidberg-deploy/blinks/blinks.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
KillSignal=SIGINT

[Install]
WantedBy=default.target